

<style>
  /* #center {
position: absolute;
top: 50%;
left: 50%;
margin-top: -180px;
margin-left: -75px;
width: 100px;
height: 40px;
font-family: "Lato", sans-serif;
font-weight: 300;
font-size: 14px;
color: #02aff1;
text-align: center;
-webkit-font-smoothing: antialiased;
}

.skype-loader {
width: 30px;
height: 30px;
position: relative;
margin: auto;
margin-top: 450px;
margin-bottom: 70px;
}

.skype-loader .dot {
position: absolute;
top: 0;
left: 0;
width: 30px;
height: 30px;

animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
}

.skype-loader .dot:nth-child(1) {
animation-delay: 0.2s;
}

.skype-loader .dot:nth-child(2) {
animation-delay: 0.35s;
}

.skype-loader .dot:nth-child(3) {
animation-delay: 0.45s;
}

.skype-loader .dot:nth-child(4) {
animation-delay: 0.55s;
}

.skype-loader .dot:after, .skype-loader .dot .first {
content: "";
position: absolute;
width: 4px;
height: 4px;
background:#02aff1;
border-radius: 50%;
left: 50%;
margin-left: -4px;
}

.skype-loader .dot .first {
background: #02aff1;
margin-top: -4px;
animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
animation-delay: 0.2s;
}

@keyframes dotrotate { 
from { transform: rotate(0deg); } 
to { transform: rotate(360deg); }
}

@keyframes dotscale { 
0%, 10% { width: 10px; height: 10px; margin-left: -8px;  margin-top: -4px; } 
50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
90%, 100% { width: 10px; height: 10px;  margin-left: -8px;  margin-top: -4px; }
}
 */
/* 
  tr {
     font-size: x-small;     
     height: 40px;
  }
  .bloc>div.card-header{
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
  }
  .navbar-brand{
      font-family: -webkit-body;
  }
  .list-group-item{
    height: 30px;
    padding-top: 3px;
    color:#008cba;
    font-size: initial;
    font-family: inherit;
 
  }
  .card-body{
    padding-left: 5px;
    padding-right: 5px;
  }
#accordion .card{
  margin-bottom: 5px;

}

#accordion > div> div{
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
div.card-header> h5 > button{
  padding-top: 3px;
}

#collapseOne .card-body{
  padding-top: 0px;
}


#collapseOne-indicateurs .card-body{
  padding-top: 0px;
}
.list-group-item-action {
    text-align: start;
    padding-left: 6px;
    
}

.nav-tabs{
  border: 0px;
}
.IndicateurSet{
  background-color: #eee;
}
.sous_bloc{
  background-color: #eee;
}
.mb-3{
  margin-bottom: 0px !important;
}
.container{
  max-width:1600px;
}

.modal-header{
  background-color: #eee;
}
  body{
    background-color: #eee;
  }
  .card-header.IndicateurSet{
    padding:0px;
    padding-left: 5px;
  }
  .IndicateurSet{
    background-color:white;
  }
  .card-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .card-header.Indicateurs{
    padding-bottom: 0px;
    background-color: #eee;
  }
  .nav-link.active{
    background-color: #008cbaad !important;
    color: white !important;
  } */

</style>


<body>
 <!-- <div class="skype-loader">
    <div class="dot">
      <div class="first"></div>
    </div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>  -->
  
<div class="container" ng-controller="ongletController" ng-if="loaded">

       <ul class="nav nav-tabs" style="margin-top: 20px;">
        <li class="nav-item" ng-repeat="onglet in onglets" >
          <a style="cursor: pointer" ng-click="switchToOngelt(onglet)" class="nav-link {{onglet.activer}}" >{{onglet.name}}</a>
        </li>
      </ul>

      <ul class="nav nav-tabs" >
        <li class="nav-item" ng-repeat="sous_onglet in onglet_selected.sous_onglets">
          <a  style="cursor: pointer;" ng-click="switchtoSousOngelts(sous_onglet)" 

          class="nav-link {{sous_onglet.activer}}" data-toggle="tab">{{sous_onglet.name}}</a>
        
        
        </li>
          </ul>
          <div  ng-if="!sous_onglet_selected.blocs" class="row" style="margin-top: 80px;" >
            <div class="col-sm" style="text-align: center;">
              
                <i class="far fa-frown fa-w-16 fa-3x">
                  <br/>
                  No Bloc is Avalaible
                </i>
              
            </div>
          </div>
      <div ng-if="sous_onglet_selected.blocs" class="bloc-controller" ng-controller="blocController">

          <div class="row" style="margin-left: 15px;margin-right: 15px;">
            <div class="form-group col-md" style="margin-left: 15px;margin-top: 10px;max-width: 500px;">
            </div>
            <div class="form-group col-md" style="margin-top: 15px;max-width: 30rem;padding-left: 15px;">
              <div class="input-group mb-3">
                <input type="text" 
                ng-change="search(MyVal)" ng-model="MyVal"
                class="form-control searching" placeholder="search by code datalib">
                <div class="input-group-append" style="cursor: pointer;">
                  <span ng-if="MyVal" class="input-group-text">
                    <i class="fas fa-times-circle" ng-click="resetSearch()"></i>
                  </span>
                </div>
              
            </div>
          </div>
          <div class="form-group col-md" style="margin-top: 10px;max-width: 500px;">
          </div>
          </div>
          <div class="row" style="margin-top: 10px;" >
      
            <div class="col-sm" style="text-align: center;"
                 ng-repeat="bloc in sous_onglet_selected.blocs">

              <div class=" bloc card border-secondary mb-3" style="max-width: 30rem;">
                  <div class="card-header">
                     {{bloc.name}}
                  </div>
                  <div  class="card-body" style="margin-bottom: 10px;">                          
                      <!--
                        Indicateurs 
                      -->

                      <div>
                      
                        <div  ng-if="bloc.indicateurSets.length > 0 || bloc.indicateurs.length > 0" class="card" style="margin-top: 5px;" >
                          <div class="card-header Indicateurs" id="headingOne2-{{bloc.id}}" >
                            <h5 class="mb-0" style="float: left;">
                              <button  id="collapse-indicateurs-{{bloc.id}}" class="btn btn-link"
                               data-toggle="collapse"
                               data-target="#collapseOne-indicateurs-{{bloc.id}}" 
                              aria-expanded="true" aria-controls="collapseOne-indicateurs">
                                Indicateurs
                               </button>
                            </h5>
                          </div>
                          <div id="collapseOne-indicateurs-{{bloc.id}} " ng-class="collapse" 
                          aria-labelledby="headingOne2-{{bloc.id}}" >
                            <div class="card-body" >
                          <table class="table table-hover" ng-if="bloc.indicateurs.length > 0">
                             <thead>
                                  <i style=" padding-left: 5px;float: right; cursor: pointer;margin-top:4px; 
                                    font-size: initial;color:#008cba" class="fas fa-plus-circle fa-lg" 
                                    
                                    ng-click="addIndicateur(bloc)"
                                    >
                                    
                                  
                                  </i> 
                                  </thead>
                                <tbody>
                                  <tr class="indicateur_for_searching" ng-repeat="indicateur in bloc.indicateurs track by $index">
                                    <th scope="row">{{indicateur.name}}</th>
                                    <th>{{indicateur.code_datalib | limitTo:20}}</td>
                                    <td>{{indicateur.xpath | limitTo:10}}</td>
                                    <td>
                                      <i style=" padding-left: 5px; cursor: pointer;margin-top:4px;   font-size: 10px;color:#008cba" 
                                      class="fas fa-edit fa-lg"
                                      ng-click="editIndicateur(indicateur,bloc,$index)"
                                      ></i> 
                                      
                                      <i style=" padding-left: 5px; cursor: pointer;margin-top:4px;   font-size: 10px;color:#F04124"
                                      
                                      ng-click="deleteIndicateur(indicateur,bloc,$index)"
                                      class="fas fa-trash fa-lg"  ></i> 
                                    </td>
                                  </tr>
                            </tbody></table>
                    </div>


                            <!-- IndicateursSet -->

                    <div ng-include="'indicateur_sets.html'"  ng-controller="IndicateurSetController"></divng-include></div>
                            <!-- IndicateursSet -->

                          </div>
                      </div>


                        <!--Sous Blocs-->
                        <div ng-include="'sous_blocs.html'"  ng-controller="Sous_BlocController"></divng-include></div>
                        <!--Sous Blocs-->
                      </div>

                      </div>
                  </div>

                 
          </div>

            
                <div ng-include="'/modals/modal-delete.html'" ng-controller="indicateurController"></div>                <div ng-include="'modals/modal-delete-set.html'" ng-controller="IndicateurSetController"></div>
                <div ng-include="'modals/modal-indicateur-set.html'" ng-controller="modal-indicateur-set-controller"></div>
                <div ng-include="'modals/modal-indicateur.html'" ng-controller="modal-indicateur-controller"></div>
                <div ng-include="'modals/modal-add-indicateur.html'" ng-controller="modal-add-indicateur-controller"></div>

          </div>
      
      
</div>

<script type="text/javascript">
    $( document ).ready(function() {
      $(".collapse_indicateurSet").on("click",function(){
        if($(this).children().first().attr('id') === "collapse-up"){
          $(this).children().first().attr("id","collapse-down");
          $(this).children().first().toggleClass("fas fa-angle-down fa-lg");
        }

        if($(this).children().first().attr('id') === "collapse-down"){
          $(this).children().first().attr("id","collapse-up");
          $(this).children().first().toggleClass("fas fa-angle-up fa-lg");
        }

      })

    });
  </script>
